[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yaspin = "*"
luaparser = "*"
beautifulsoup4 = "*"
requests = "*"
pandas = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "*"
