Package: de.tudarmstadt.seemoo.cellguard
Name: CellGuard
Version: 1.1.2
Architecture: iphoneos-arm
Description: Monitor and visualize cellular base stations collected by the accompanying tweak
Maintainer: Lukas Arnold
Author: Lukas Arnold
Section: Utilities
Recommends: de.tudarmstadt.seemoo.capturecells, de.tudarmstadt.seemoo.capturepackets