[project]
name = "AnalyzeCells"
version = "0.0.1"
requires-python = ">=3.12"
dependencies = [
    "pandas",
    "matplotlib",
    "mpld3",
]

[dependency-groups]
dev = []

[tool.uv]
package = false

[[tool.uv.index]]
name = "pypi"
url = "https://pypi.org/simple"
