Package: de.tudarmstadt.seemoo.capturepackets
Name: CapturePackets
Version: 1.0.5
Architecture: iphoneos-arm
Description: Captures the binary packets iOS and the iPhone's baseband exchange and provides a TCP interface to query them
Maintainer: Lukas Arnold
Author: Lukas Arnold
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000) | ellekit (>= 1.0)
