Package: de.tudarmstadt.seemoo.capturecells
Name: Capture Cells
Version: 1.0.1
Architecture: iphoneos-arm
Description: Captures the cellular base stations you've connected to and provides a TCP interface to query them
Maintainer: Lukas Arnold
Author: Lukas Arnold
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
