Package: de.tudarmstadt.seemoo.captureqmi
Name: CaptureQMI
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Lukas Arnold
Author: Lukas Arnold
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
